.container{
    background-color: white;
    padding: 20px;
}
 .apps{
    display: flex;
    flex-direction: row;
 }

 #phone{
    display: flex;
    grid-template-columns: 50%;
 }

.container1{
    display: inline;
    padding-top: 20px;
    width: 10px;
    margin: 0, auto;
    }
  .container2{
    display: flex;
  }
#email{
    display: flex;
    gap: 20%;
}

#navbar{
    list-style: none;
    display: flex;
    gap: 5%;   
}


.container3{
    display: flex;
    gap: 10%;
}
#h4{
    font-size: xx-large;
    gap: 20%;

}
.container4{
 display: flex;   
 margin-left: 10px; 
 gap: 10%;  
}

#h3{
 font-size: xx-large;   
}
.words{
    text-align: center;
    gap: 20%;
}

#points{
    padding-left: 10px;
}

#image{
    width: 200px;
}
.container5{
    display: grid;
    grid-template-columns: 50%;
    padding-left:10px ;
    gap: 20%;
}
#h4{
    text-align: center;
    font-size: xx-large;
}
#quotation{
    display: flex;
    gap: 40%;
}
#paragraph{
    display: flex;
    text-align: center;
    gap: 20%;
}